[Desktop Entry]
Type=Application
Name=Deepin Liferaft
Name[zh_CN]=内存救生圈
Name[zh_TW]=記憶體救生圈
Name[ja]=メモリーライフラフト
Name[ko]=메모리 구명정
Name[fr]=Bouée de sauvetage mémoire
Name[de]=Speicher-Rettungsboot
Name[es]=Salvavidas de memoria
Name[ru]=Спасательный круг памяти
Name[pt_BR]=Bote salva-vidas de memória
Comment=Recover from application memory pressure
Comment[zh_CN]=在应用内存压力过高时恢复系统响应
Comment[zh_TW]=在應用記憶體壓力過高時恢復系統回應
Comment[ja]=アプリケーションのメモリ圧力が高い場合にシステム応答を回復
Comment[ko]=애플리케이션 메모리 압력이 높을 때 시스템 응답 복구
Comment[fr]=Récupérer la réponse du système en cas de pression mémoire élevée des applications
Comment[de]=Systemreaktion bei hohem Arbeitsspeicherdruck von Anwendungen wiederherstellen
Comment[es]=Recuperar la respuesta del sistema cuando la presión de memoria de la aplicación es alta
Comment[ru]=Восстановить отклик системы при высоком давлении памяти приложений
Comment[pt_BR]=Recuperar a resposta do sistema quando a pressão de memória do aplicativo está alta
Exec=deepin-liferaft
Icon=deepin-liferaft
Terminal=false
Categories=System;
StartupNotify=true
NoDisplay=true